/* styles.css */

div {
    
    background-color: black;
    border-radius: 25px;
    color: white;
    font-family: DejaVu Serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
  }
  div.marginBottom {
    margin :-8px;
    border-radius: 0;
  }
  div.marginTop {
    margin :-18px -8px 0 -8px;
    border-radius: 0;
    background-color: bisque;
  }

  div.lasgnaImage {
    margin :18px -8px 0 -8px;
    background-color: transparent;
  }
  
  p.cooking {
    background-color: green;
    border-radius: 25px;
    color: white;
    font-family: DejaVu Serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: bold;
    padding: 15px;
  }