/* styles.css */

body {
    background-color:#00aa99;
    text-align: center;
  }
div {    
    background-color: transparent;
    margin:-18px -8px 0 -8px;
    border-radius: 0px;
    color: bisque;
    font-family: DejaVu Serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
  }
  img {
    max-width: 100%;
    height:auto;
    border-radius: 50%;

  }
  img.recipes {
    border-radius: 15%;
  }
  .marginTop {
    margin:-18px -8px 0 -8px;
    border-radius: 0;
    background-color: bisque;
  }
  .marginBody, .cookNotes, .lasgnaImage{
    margin-left: 30%;
    margin-right: 30%;
  }
  
  #cookNotes {
    background-color: green;
    color: white;
    font-family: DejaVu Serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
  }
  .marginBody {
    background-color: black;
  }

  .marginBottom {
    background-color: black;
    margin:-30px -8px -10px -8px;
    padding-top: 50px;
    border-radius: 0;
    background-color: black;
  }

  .lasgnaImage {
    background-color: black;
    padding-bottom: 50px;
  }
  
  p.directions {
    font-weight: bold;
    text-align: left;
  }
  #cooking {
    text-align: center;
    margin-bottom: 0px;
  }
  
#homepage {
  color: black;
}

